
You stop for a while, confident that you still know who you are.  In the silence you can hear a still, small voice whispering, but you can barely make out what it says.
= form_for @user do |f|
  Yes, that's it.  You hear it now...
  .field
    = f.label '0 + 0 = '
    = f.text_field :offer_code
  .actions
    = f.submit "Reply to the still small voice."