-if my_quality.is_a?(Array)
  - my_quality = my_quality.last
-if my_quality
  .sidebar_god
    .center= my_quality.quality.name
    .exp_bar= progress_bar(percent_complete(my_quality.quality_id), color: 'orange')
    .really_big.level= my_quality.level
.clear