-if requirements(storylet.id)[1]

-elsif requirements(storylet.id)[0] == ''
  %a(href="/storylets/#{storylet.id}/action")
    .storylet
      = render 'storylets/preview_contents', storylet: storylet, open: true

-else
  .storylet.unavailable
    = render 'storylets/preview_contents', storylet: storylet, open: false