%h1.bold.center Work on Tribulate has ceased
.clear
%h3.center
  Please feel free to play the unfinished version by signing in below
%br
.center
  = render 'authentications/authentications'

  OR
  %br
  Manual login
  %br

  =link_to "Sign up", new_user_registration_path

  or

  =link_to "Sign in", new_user_session_path
  %br
  %br
  %h4
    Jeffrey's current projects can be found at
    =link_to "his website", 'http://jeffreybiles.com'
    ="."

-#  %br
-#  %h3.bold.center More information on the death of Tribulate
-#  %br
-#
-#  %h4.center tl;dr:
-#  %br
-#  %p I have stopped work on Tribulate because the game wasn't fun.  I learned a lot.  I'll learn more and make better games.
-#
-#  %h4.center prologue:
-#  %br
-#  %p I have stopped work on Tribulate.  I found that once the thrill of having made my own online game faded, I discovered three things:  1) This game is not fun and 2)  This game could still be compelling if I knew how to write a player-driven multi-branch narrative.  Unfortunately, the only people who know how to do that consistently work at bioware.  3)  I prefer programming and design to writing.
-#
-#  %h4.center mission:
-#  %br
-#  %p So, I'll take the lessons learned here and apply it to more games.
-#  %p Better games.
-#
-#  %h4.center postmortem:
-#  %br
-#  %p
-#    I designed this system under multiple severe constraints:
-#
-#    %ol
-#      %li I was to do all of the design and coding
-#      %li Because it was on the web, I had to use rails and javascript instead of python and pygame
-#      %li I didn't know a thing about rails
-#      %li I didn't know a thing about javascript
-#
-#  %p I thought I could get away without using javascript.  I was wrong.  The game ended up being designed around the strengths of rails, and putting a javascript bandaid around the design simply won't work.
-#
-#  %p In addition, the original goal of the project--to entice the student to practice math in a fun, engaging way--got lost.  Both the math part and the fun part.
-#
-#  %p The good news is that the skills I built here are remarkably versatile.  I am now more confident in my skills in building websites, as well as constructing the backend portion of a modern webapp.
-#
-#  %p The future is bright for me.  But not for Tribulate.
