%h1.bold Announcement

The focus of MathGod has moved away from math to storytelling.
In order to allow this game to fully bloom, the math portion of the game has
been removed, and the game is being tentatively renamed to Tribulate.
However, be on the lookout for MathMonsters, an upcoming
math-focused game which is heavily inspired by Pokemon.

= link_to (image_tag link_fu Image.find_by_name('chaos cave')), new_user_registration_path

